body {
  margin: auto;
  margin: 5%;
}

.main-grid {
  margin: auto;
  max-width: 80%;
}

h2 {
  background-color: #ADDFAD;
  max-width: 80%;
  margin: auto;
  padding: 10px;
  color: #ffffff;
}


.table tbody tr button {
  float: left;
  margin: auto;
  margin-right: 5%;
}

.table tbody tr {
  font-weight: 700;
  color: orange;
  margin: auto;
  
}

.table {
  margin: auto;
  max-width: 80%;
  margin-top: 2%;
}

div {
  text-align: center;
}